.author-row{
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.author-name{
    font-size: 1.5rem;
}

::placeholder{
    color: rgba(255, 255, 255, 0.7) !important;
}

input[type='text'], input[type='number']{
    padding-left: 1rem;
}

input[type='date']{
    padding-left: 1rem;
    padding-right: 0.5rem;
}
